/* Error Container */
#error-container {
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
}

/* Error Image */
#error-container img {
    width: 50vw;
    height: auto;
    margin-bottom: 20px;
}

/* Error Title */
.error-title {
    font-size: 3em;
    font-weight: bold;
    color: var(--red);

    margin-bottom: 20px;
    text-transform: uppercase;
}

/* Error Message */
.error-message {
    font-size: 1.2em;
    color: var(--red);
    margin-bottom: 30px;
    line-height: 1.5;
}

/* Error Button */
.error-button {
    background-color: var(--lightYellow);
    color: var(--white);
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.error-button:hover {
    background-color: #E68A1F;
}

/* Large Screens (Desktops and above 1024px) */
@media screen and (min-width: 1025px) {
    .error-title {
        font-size: 3em; /* Taille du titre sur grands écrans */
    }

    .error-message {
        font-size: 1.2em; /* Taille du message d'erreur pour les écrans larges */
    }

    .error-button {
        font-size: 1.1em;
        padding: 12px 25px; /* Un peu plus de padding pour les grands écrans */
    }

    #error-container img {
        width: 50%; /* Taille de l'image adaptée pour les écrans larges */
    }
}
