#profile-title{
    text-align: center;
    font-size: 2.5em;
    color: var(--white);
    margin-top: 100px;
    margin-bottom: 200px;
    font-weight: bold;
}

#profile-content{
    background-color: var(--white);
    padding: 20px;
    width: 50vw;
    margin: 20px auto;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#save-button {
    display: block;
    margin: 20px auto; /* Centre horizontalement et ajoute un espace vertical */
    padding: 10px 20px; /* Ajoute un peu de padding pour un meilleur rendu */
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: var(--darkGreen);
    background-color: var(--lightGray);
    border-color: var(--lightGray);
}

.alert-danger {
    color: var(--lightGreen);
    background-color: var(--red);
    border-color: var(--lightGray);
}
