/* Styles généraux pour la page de règlement intérieur */
#reglement-container {
    background-color: var(--white);
    padding: 20px;
    margin: 20px auto;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Titre principal de la page */
#reglement_title h3 {
    text-align: center;
    font-size: 2.5em;
    color: var(--white);
    margin-top: 100px;
    margin-bottom: 200px;
    font-weight: bold;
}

/* Contenu du règlement */
#reglement_content {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #34495E;
    font-size: 1.1em;
    margin-top: 20px;
}

/* Style pour les titres d'articles */
#reglement_content h4 {
    font-size: 1.5em;
    color: var(--lightYellow);
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
}

/* Style pour les paragraphes */
#reglement_content p {
    margin: 10px 0;
    padding-left: 20px;
    text-align: justify;
}

/* Style des listes */
#reglement_content ul {
    list-style-type: disc;
    padding-left: 40px;
    margin-bottom: 20px;
}

/* Style pour chaque élément de la liste */
#reglement_content li {
    margin: 5px 0;
}

/* Pour les liens dans le règlement */
#reglement_content a {
    color: #3498DB;
    text-decoration: none;
}

#reglement_content a:hover {
    text-decoration: underline;
}

/* Responsivité pour les petits écrans */
@media screen and (max-width: 768px) {
    #reglement-container {
        padding: 15px;
        margin: 10px;
    }

    #reglement_title h3 {
        font-size: 2em;
    }

    #reglement_content {
        font-size: 1em;
    }
}
